version: '2'
services:
  drupal-web:
    build: ./web/
    ports:
      - "8080:80"
    depends_on:
      - mysql-server
    links:
      - mysql-server:mysql
    volumes:
      - ./web/drupal:/var/www/html
    container_name: drupal

  mysql-server:
    image: mysql
    environment:
      MYSQL_DATABASE: drupal
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: drupal
      MYSQL_PASSWORD: drupal
    volumes:
      - ./mysql:/var/lib/mysql
